{{extend 'layout.html'}}
<script>
$(document).ready(function(){
$('td').css('cursor', 'pointer');
$('td').click(function(){
console.log(1);
console.log('this log'+this.id);
//$.post("answer/"+this.id);
loc = window.location.origin+"/codespert/default/answer/"+this.id;
window.location = loc;
});
});
</script>
<label style="font-family:COMIC SANS MS"><h1><I>List of Questions that u have asked.</I></h1></label>
<table>
{{for qst in quests:}}
<tr style="height:10px"></tr>
<tr><td id={{=qst.id}} style="color:rgb(8, 48, 71);font-family:cursive"><a><pre class="showup" style="color:rgb(8, 48, 71);font-family:cursive"showup">{{=qst.question}}</pre></a></td></tr>
{{pass}}
</table>


