x{{extend 'layout.html'}}
<!-- <script src="{{=URL('static','js/jquery.js')}}"></script>

<script src="{{=URL('static','js/swfobject.js')}}"></script>
<script src="{{=URL('static','js/jquery.ytchromeless.js')}}"></script> -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script src="{{=URL('static','js/jquery.youtubepopup.js')}}"></script>

<style type="text/css">
    .video-player { margin: 20px; width: 640px; }
    .video-controls { 
      background: #dedede; 
      height: 30px;
      margin: -4px 0 0;
      position: relative;
      width: 640px;
    }
    .status { height: 20px; left: 30px; position: absolute; top: 5px; width: 455px; }
    .bar { background: #a4a4a4; height: 10px; position: relative; top: 5px; }
    .loaded { background: #bbb; height: 10px; left: 0; position: absolute; top: 0; }
    .indicator { background: #212121; display: block; height: 10px; left: 0; position: absolute; top: 0; width: 20px; }
    .play-pause, .volume { 
      background: url(../static/images/btn-controls.png) no-repeat ;
      display: block;
      height: 20px;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      top: 5px;
      width: 20px;
    }
    .play-pause { left: 5px; }
    .playing { background-position: 0 -20px; }
    .volume { background-position: 0 -60px; right: 130px; }
    .muted { background-position: 0 -40px; }
    .view-youtube { 
      color: #000;
      display: block; 
      float: right; 
      font-size: 9px; 
      line-height: 30px;
      padding: 0 5px 0 0;
      text-decoration: none;
      text-transform: uppercase;
    }
    </style>
<script type="text/javascript">
$(function () {
$("#Nc16qeGBtMU").YouTubePopup({ youtubeId: 'Nc16qeGBtMU', title: 'Python Tutorial' });
$("#hrRV8Uj4y0o").YouTubePopup({ youtubeId: 'hrRV8Uj4y0o', title: 'Perl Tutorial' });
$("#Cfd9DOnuF9w").YouTubePopup({ youtubeId: 'Cfd9DOnuF9w', title: 'Java Tutorial' });
$("#OBsGRqXzOhk").YouTubePopup({ youtubeId: 'OBsGRqXzOhk', title: 'Csharp Tutorial' });
$("#2O5XPNLQe30").YouTubePopup({ youtubeId: '2O5XPNLQe30', title: 'Unix Tutorial' });

$("#C4GyNxgmbgI").YouTubePopup({ youtubeId: 'C4GyNxgmbgI', title: 'Ruby Tutorial' });
$("#LADHwoN2LMM").YouTubePopup({ youtubeId: 'LADHwoN2LMM', title: 'Ruby on Rails Tutorial' });
$("#6h73Tkco4pY").YouTubePopup({ youtubeId: '6h73Tkco4pY', title: 'Web2py Tutorial' });
$("#hp5ymCrD9yw").YouTubePopup({ youtubeId: 'hp5ymCrD9yw', title: 'Django Tutorial' });
$("#oEML3QIP2sA").YouTubePopup({ youtubeId: 'oEML3QIP2sA', title: 'oCaml Tutorial' });

$("#nw7oHM9szXQ").YouTubePopup({ youtubeId: 'nw7oHM9szXQ', title: 'C Tutorial' });
$("#xfgcEjCd9as").YouTubePopup({ youtubeId: 'xfgcEjCd9as', title: 'C++ Tutorial' });
$("#cYmQr8yeALA").YouTubePopup({ youtubeId: 'cYmQr8yeALA', title: 'ORACLE Tutorial' });
$("#rKnDgT73v8s").YouTubePopup({ youtubeId: 'rKnDgT73v8s', title: 'GO Tutorial' });
$("#on9Wcj_5iSo").YouTubePopup({ youtubeId: 'on9Wcj_5iSo', title: 'JQUERY Tutorial' });



});
$(document).ready(function(){







$("#youtubeLink").YouTubePopup({ youtubeId: '4eYSpIz2FjU', title: 'My New Title' });

});
</script>

<span class="traintext">Which technology would u like to learn?</span>
<table width="100%">
                  <tr style="height:20px"></tr>
<tr align="center" width="100%">

<td><a class="trainbtn" id ="Nc16qeGBtMU" onmouseover="" style="cursor: pointer;">PYTHON</a></td>

<td><a class="trainbtn" id="hrRV8Uj4y0o" onmouseover="" style="cursor: pointer;">PERL</a></td>

<td><a class="trainbtn" id="Cfd9DOnuF9w" onmouseover="" style="cursor: pointer;">JAVA</a></td>

<td><a class="trainbtn" id="OBsGRqXzOhk" onmouseover="" style="cursor: pointer;">CHARP</a></td>

<td><a class="trainbtn" id="2O5XPNLQe30" onmouseover="" style="cursor: pointer;">UNIX</a></td>
</tr>
                 <tr style="height:20px"></tr>
                 <tr align="center" width="100%">

<td><a class="trainbtn" id ="C4GyNxgmbgI" onmouseover="" style="cursor: pointer;">RUBY</a></td>

<td><a class="trainbtn" id="LADHwoN2LMM" onmouseover="" style="cursor: pointer;">RUBY ON RAILS</a></td>

<td><a class="trainbtn" id="6h73Tkco4pY" onmouseover="" style="cursor: pointer;">WEB2PY</a></td>

<td><a class="trainbtn" id="hp5ymCrD9yw" onmouseover="" style="cursor: pointer;">DJANGO</a></td>

<td><a class="trainbtn" id="oEML3QIP2sA" onmouseover="" style="cursor: pointer;">OCAML</a></td>
</tr>
                 <tr style="height:20px"></tr>
                 <tr align="center" width="100%">

<td><a class="trainbtn" id ="nw7oHM9szXQ" onmouseover="" style="cursor: pointer;">C</a></td>

<td><a class="trainbtn" id="xfgcEjCd9as" onmouseover="" style="cursor: pointer;">C++</a></td>

<td><a class="trainbtn" id="cYmQr8yeALA" onmouseover="" style="cursor: pointer;">ORACLE</a></td>

<td><a class="trainbtn" id="rKnDgT73v8s" onmouseover="" style="cursor: pointer;">GO</a></td>

<td><a class="trainbtn" id="on9Wcj_5iSo" onmouseover="" style="cursor: pointer;">JQuery</a></td>
</tr>
                 
                 
</table>

<div id=dvPerl style="visibility:hidden;display:none">

<a id="4eYSpIz2FjU" class="youtube" href="#">Tutorial 1</a>
<!--<iframe width="300" height="200" src="http://www.youtube.com/embed/hrRV8Uj4y0o?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<iframe width="300" height="200" src="http://www.youtube.com/embed/Nma5gVDIwtc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>-->
</div>
<div id="dvPython" style="visibility:hidden;display:none">
<iframe width="300" height="200" src="http://www.youtube.com/embed/Nc16qeGBtMU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<iframe width="300" height="200" src="http://www.youtube.com/embed/tKTZoB2Vjuk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
<div id="dvJava" style="visibility:hidden;display:none">
<iframe width="300" height="200" src="http://www.youtube.com/embed/Cfd9DOnuF9w?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<iframe width="300" height="200" src="http://www.youtube.com/embed/3u1fu6f8Hto?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
<div id="dvCsharp" style="visibility:hidden;display:none">
<iframe width="300" height="200" src="http://www.youtube.com/embed/OBsGRqXzOhk?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<iframe width="300" height="200" src="http://www.youtube.com/embed/ewZTqSJj9jQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
<div id="dvUnix" style="visibility:hidden;display:none">
<iframe width="300" height="200" src="http://www.youtube.com/embed/2O5XPNLQe30?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
<br/>
<br/>
<iframe width="300" height="200" src="http://www.youtube.com/embed/G8vusfYhwgQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
<div id="dvFrames">


</div>

