{{extend 'layout.html'}}
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$("#btnCode").removeClass("btn");
</script>
<body>
{{=form}}
<div id="dvTags">
{{for row in tagnamelist:}}
<label class="lblclass" style="font-family: 'COMIC SANS MS';color:rgb(51, 188, 239)">{{=row.name}}</label>
{{pass}}
<div>
<script>
$(document).ready(function(){
    $("label.lblclass").click(function(){
        console.log($(this).text());
	console.log("tag val"+$("#tag").val().toLowerCase().indexOf($(this).text().toLowerCase()) == -1);
	if($("#tag").val().toLowerCase().indexOf($(this).text().toLowerCase()) == -1)
	{
            if($("#tag").val() == "")
            	{
                $("#tag").val($(this).text());        
                }
            else{
                
        	$("#tag").val($("#tag").val()+','+$(this).text());
        	}
	}
        });
    $("#tag").click(function(){
        
        console.log("hello");
     $( "#dvTags" ).dialog({
         draggable: true,
         title:"Tags",
     resizable: true,
      height:400,
      modal: true,
      buttons: {
        "Clear Selected": function() {
          //$( this ).dialog( "close" );
          $("#tag").val("");
        },
        Close: function() {
          $( this ).dialog( "close" );
        }
      }
    });
     
     });
    
   $("#dvTags").hide(); 
   $("#txtQues").width("900px");
    $("#txtQues").attr('maxlength','300');
 $("#lbldetail").fadeToggle("fast");
 $("#code").fadeToggle("fast");

 $("#btnCode").width("160px");
 $("#btnCode").click(function(){
 $("#code").fadeToggle("slow");
 //Setting the dialog space
 
 

 
 $("#lbldetail").fadeToggle("slow");
 });
 });
</script>
</body>
<script>
$("#btnCode").removeClass("btn");
</script>
